<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="en" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:title" content="Cards To Humanity">
        <meta property="og:url" content="https://cards-to-humanity.herokuapp.com/html/gallery.html">
        <meta property="og:description" content="Spreading positivity, one card at a time.">
        <title>
            Gallery
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/cards_display.css">
        <link rel="stylesheet" href="/css/gallery.css">
    </head>
    <body>
        <header>
            <img src="/img/logo.png">
            <div id="nav-links">
                <a href="/home.html">Home</a>
                <a href="/mission_statement.html">About Us</a>
                <a href="/instructions.html">Instructions</a>
                <a href="/resources.html">Resources</a>
                <a href="PAYPAL_LINK">Donate</a>
                <a id="create-card-button" href="/create_card.html">Submit</a>
            </div>
        </header>
        <div id="vue_div">
            <h2>
                Currently Viewing:
            </h2>
            Cards tagged with: <input type="text" v-model="tagged_with_search_term">
            <br>
            Top <input type="number" v-model="top_n_cards"> cards.
            <br>
            Title contains: <input type="text" v-model="title_contains_search_term">
            <br>
            Caption contains: <input type="text" v-model="caption_contains_search_term">
            <br>
            <cards-display v-bind:tagged_with_search_term="tagged_with_search_term" v-bind:top_n_cards="top_n_cards" v-bind:title_contains_search_term="title_contains_search_term" v-bind:caption_contains_search_term="caption_contains_search_term">
            </cards-display>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/scripts/api.js"></script>
        <script src="/scripts/cards_display.js"></script>
        <script src="/scripts/gallery.js"></script>
    </body>
</html>
