<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="en" />
        <title>
            Sign Up
        </title>
        <h1>
            Sign Up
        </h1>
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <div id="vue_div">
            Username: <input type="text" v-model="username" v-on:keyup.enter="$refs.display_name_field.focus()">
            <br>
            Display name: <input type="text" v-model="display_name" ref="display_name_field" v-on:keyup.enter="$refs.password_field.focus()">
            <br>
            Password: <input type="password" v-model="password" ref="password_field" v-on:keyup.enter="$refs.email_field.focus()">
            <br>
            Email: <input type="email" v-model="email" ref="email_field" v-on:keyup.enter="signupButtonClicked">
            <p id="error_message_p">
                {{ error_message }}
            </p>
            <button @click="signupButtonClicked">
                Sign Up
            </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/scripts/api.js"></script>
        <script src="/scripts/signup.js"></script>
    </body>
</html>
