/* CSS for the cards-display Vue component. */

p {
    font-size: 20px;
    font-family: Poppins, sans-serif;
}

a {
    font-size: 24px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}

.card {
    border: 3px solid #0057A3;
    height: 300px;
    min-width: 290px;
    width: 40%;
    margin-bottom: 25px;
    border-radius: 13px;
    position: relative;
}

.card-info {
    background-color: #8884;
    width: 90%;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 10px;
}

.card-info p {
    padding: 6px 0 6px 6px;
}

.view-button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    background-color: #EF4764;
    color: white;
    height: 35px;
    line-height: 35px;
    border-radius: 17.5px;
    text-align: center;
}

.card-image {
    height: 70%;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}
