body {
    font-family: Poppins, sans-serif;
}

h1 {
    color: #001F70;
    font-size: 75px;
    text-align: center;
    position: relative;
    line-height: 115px;
    margin-top: 50px;
}

p {
    font-size: 20px;
}

a {
    font-size: 24px;
}

#flying-cards {
    position: absolute;
}

#flying-cards img {
    width: 300px;
    z-index: -2;
    position: absolute;
}

#flying-cards img:first-child {
    left: 250px;
    top: 15px;
}

#flying-cards img:last-child {
    top: 90px;
    left: 63vw;
}

#flying-cards img:nth-child(2) {
    top: -35px;
    left: 50vw;
}

#currently-viewing-dropdown {
    width: 90vw;
    margin-left: 5vw;
    background-color: #001F70;
    border-radius: 23px; 
    margin-bottom: 25px;
}

#currently-viewing-dropdown p, #currently-viewing-dropdown span {
    color: white;
    display: inline-block;
    line-height: 46px;
    margin-left: 1%;
}
