html, html *:not(header) {
    overflow-x: hidden;
}

body, p {
    margin: 0;
}

body {
    margin-bottom: -442px;
}

h1, h3, p {
    font-family: Poppins, sans-serif;
}

p {
    font-size: 22px;
    position: relative;
    z-index: 300;
}

.circle {
    border-radius: 50%;
    position: absolute;
    z-index: -3;
}

#circle-1 {
    top: 171px;
    right: 34.091vw;
    height: 51px;
    width: 51px;
    background-color: #FFBC1F;                          
}

#circle-2 {
    top: 43px;
    right: -5.727vw;
    height: 154px;
    width: 154px;
    background-color: #05D69E;
}

#circle-3 {
    top: 367px;
    right: 2.000vw;
    height: 44px;
    width: 44px;
    background-color: #EF476F;
}

#circle-4 {
    top: 607px;
    right: 1.455vw;
    height: 60px;
    width: 60px;
    background-color: #05D69E;
    z-index: 2;
}

#circle-5 {
    right: -5.243vw;
    height: 279px;
    width: 279px;
    background-color: #EF476F;
    z-index: 2;
    position: relative;
    float: right;
}

#circle-6 {
    left: -8.056vw;
    height: 195px;
    width: 195px;
    background-color: #05D69E;
    z-index: 2;
    position: relative;
}

#circle-7 {
    left: 21.419vw;
	height: 251px;
  	width: 251px;
    background-color: #FFBC1F;
    z-index: 2;
    position: relative;
}

#circle-8 {
    right: 33.056vw;
    height: 66px;
    width: 66px;
    background-color: #EF476F;
    z-index: 2;
    position: relative;
    float: right;
}

#circle-9 {
    right: 13.734vw;
    height: 82px;
    width: 82px;
    background-color: #FFBC1F;
    z-index: 2;
    position: relative;
    float: right;
}

.mission-statement-text {
    margin-top: -4px;
    /* margin-bottom: -4px; */
    padding-left: 9.182vw;
    padding-right: 10.455vw;
}

#mission-statement-top {
    margin-top: 81px;
    margin-bottom: 18px;
}

#mission-statement-top h1 {
    font-size: 56px;
    color: #001F70;
    margin: 0;
    margin-bottom: 4px;
    padding-right: 37vw;
}

#mission-statement-top h3, #mission-statement-top p {
    color: #0057A3;
}

h3 {
    font-size: 26px;
    margin: 0;
    color: white;
}

.instructions-text {
    padding-right: 15.455vw;
    padding-bottom: 130px;
}

.instructions-text h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#mission-statement-top p {
    margin: 0;
    margin-top: 36px;
}

.divider {
    height: 57.94px;
    background-size: 100% 100%;
    z-index: -2;
}

#mission-statement-tm-divider {
   background-image: url("../img/mission_statement/curve_1_2500px.png");
}

@media only screen and (max-width: 2250px) {
    #mission-statement-tm-divider {
        background-image: url("../img/mission_statement/curve_1_2000px.png");
    }
}

@media only screen and (max-width: 1750px) {
    #mission-statement-tm-divider {
        background-image: url("../img/mission_statement/curve_1_1500px.png");
    }
}

@media only screen and (max-width: 1250px) {
    #mission-statement-tm-divider {
        background-image: url("../img/mission_statement/curve_1_1000px.png");
    }
}

@media only screen and (max-width: 750px) {
    #mission-statement-tm-divider {
        background-image: url("../img/mission_statement/curve_1_500px.png");
    }
}

#mission-statement-middle {
    min-height: 75px;
    background-color: #001F70;
}

#mission-statement-bottom {
    min-height: 595px;
    background-color: #0057A3;
    padding-bottom: 50px;
    height: 0;
    overflow-y: hidden;
}

#mission-statement-middle p, #mission-statement-bottom p {
    color: white;
}

#mission-statement-mb-divider {
    background-color: #001F70;
    background-image: url("../img/mission_statement/curve_2_2500px.png");
}

@media only screen and (max-width: 2250px) {
    #mission-statement-mb-divider {
        background-image: url("../img/mission_statement/curve_2_2000px.png");
    }
}

@media only screen and (max-width: 1750px) {
    #mission-statement-mb-divider {
        background-image: url("../img/mission_statement/curve_2_1500px.png");
    }
}

@media only screen and (max-width: 1250px) {
    #mission-statement-mb-divider {
        background-image: url("../img/mission_statement/curve_2_1000px.png");
    }
}

@media only screen and (max-width: 750px) {
    #mission-statement-mb-divider {
        background-image: url("../img/mission_statement/curve_2_500px.png");
    }
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: #EF476F;
}

.ol-on-a-budget {
    margin: 20px 0 20px 20px;
}

#mission-statement-middle.instructions-text-bottom {
    min-height: 660px;
    height: 0;
    overflow-y: hidden;
}

@media only screen and (max-width: 1200px) {
    body {
        margin-bottom: -316px;
    }

    #circle-5 {
        bottom: 120px;
    }

    #circle-7 {
        height: 125px;
        width: 125px;
        bottom: 237px;
    }

    #circle-8 {
        display: none;
    }

    #circle-9 {
        background-color: #EF476F;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        margin-bottom: -275px;
    }

    #circle-6 {
        display: none;
    }

    #circle-7 {
        left: 35.383vw;
        bottom: 30px;
    }

    #circle-9 {
        display: none;
    }

    #mission-statement-bottom {
        min-height: 700px;
    }    
}

@media only screen and (max-width: 800px) {
    #mission-statement-bottom {
        min-height: 900px;
    }

    #circle-7 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin-bottom: 0;
    }

    #circle-5 {
        display: none;
    }

    #mission-statement-bottom {
        min-height: 1070px;
    }

    .instructions-text-bottom {
        min-height: 500px;
    }
}

@media only screen and (max-width: 500px) {
    #circle-4 {
        top: 695px;
    }

    #mission-statement-bottom {
        min-height: 1190px;
    }
}

@media only screen and (max-width: 450px) {
    h1#instructions-h1 {
        font-size: 40px;
    }

    #mission-statement-bottom {
        min-height: 1260px;
    }
}

@media only screen and (max-width: 415px) {
    #circle-4 {
        top: 730px;
    }

    #mission-statement-bottom {
        min-height: 1300px;
    }
}

@media only screen and (max-width: 400px) {
    #circle-1, #circle-4 {
        display: none;
    }

    #mission-statement-bottom {
        min-height: 1470px;
    }
}

@media only screen and (max-width: 375px) {
    #mission-statement-bottom {
        min-height: 1575px;
    }
}

@media only screen and (max-width: 350px) {
    #mission-statement-bottom {
        min-height: 1710px;
    }
}
